<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hams">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@raw/icon"
        android:label="@string/app_name"
        android:roundIcon="@raw/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".warden.wardenHome$NewWarden" />
        <activity android:name=".warden.wardenHome$MaintainStudent" />
        <activity android:name=".warden.wardenHome$updateStudent" />
        <activity android:name=".student.studentAccount" />
        <activity android:name=".warden.wardenHome$StudentReport" />
        <activity android:name=".warden.wardenHome$StudentRegister" />
        <activity android:name=".warden.wardenAccount" />
        <activity android:name=".warden.wardenSList" />
        <activity android:name=".warden.getContext" />
        <activity android:name=".warden.attendance" />
        <activity android:name=".student.studentHome" />
        <activity android:name=".warden.wardenHome" />
        <activity android:name=".general.AppState$UploadImage" />
        <activity android:name=".general.AppState$DisplayActivity" />
        <activity android:name=".general.AppState$Login" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>